
@{
    ViewBag.Title = "YeniNot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div>
        <label><b>ÖĞRENİCİ İD</b></label>
        <input type="text" class="form-control" name="Ogrid" required=""/>
    </div>
    <br />
    <div>
        <label><b>DERS ADI</b></label>
        <input type="text" class="form-control" name="Dersid" required=""/>
    </div>
    <br />
    <div>
        <label><b>VİZA</b></label>
        <input type="text" class="form-control" name="Viza" required="" />
    </div>
    <br />
    <div>
        <label><b>FİNAL</b></label>
        <input type="text" class="form-control" name="Final" required=""/>
    </div>
    <br />
    <div>
        <label><b>BÜT</b></label>
        <input type="text" class="form-control" name="But" required="" />
    </div>
    <br />
    <div>
        <label><b>PROJE</b></label>
        <input type="text" class="form-control" name="Proje" required=""/>
    </div>
    <br />
    <div>
        <label><b>ORTALAMA</b></label>
        <input type="text" class="form-control" name="Ortalama" required=""/>
    </div>
    <br />
    <div>
        <label><b>DURUM</b></label>
        <input type="text" class="form-control" name="Durum" required="" />
    </div>
    <br />

    <button class="btn btn-info">Not Ekle</button>
</form>


