@using OgrenciNotMVC.Models.EntityFramework
@model List<TblDers>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered" >
    <tr>
        <th>DERS İD</th>
        <th>DERS ADI</th>
        <th>İŞLEMLER</th>
    </tr>
    <tbody>
        @foreach (var drs in Model)
        {
            <tr>
                <td>@drs.Dersid</td>
                <td>@drs.DersAd</td>
                <td><a href="/Default/Sil/@drs.Dersid" class="btn btn-danger">Sil</a>
                <a href="/Default/DersGetir/@drs.Dersid" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Default/YeniDers" class="btn btn-primary">Yeni Ders</a>

