
@{
    ViewBag.Title = "YeniDers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <dv>
        <label><b>Ders Adı</b></label>
        <input type="text" name="DersAd" required="" maxlength="50" class="form form-control" />
    </dv>
    <br />
    <div>
        <button class="btn btn-info">Ders Ekle</button>
    </div>
</form>

